.dist-exel-main {
  width: 100%;
  height: 95%;
  /* border: 2px solid red; */
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 10px;
}

.exel-data-main {
  width: fit-content;
  min-width: 100%;
  height: 90vh;
  overflow: scroll;
  /* border: 2px solid red; */
}

.main-exel-table-parent {
  display: flex;
  flex-direction: column;

  /* border: 2px solid red; */
}

.exel-table-header {
  display: flex;
  background-color: #3d4168;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  height: 35px;
  align-items: center;
  padding: 5px;
}
.exel-table-header > :nth-child(1) {
  width: 200px;
  /* border: 2px solid red; */
}

.exel-table-header > :nth-child(2) {
  width: 200px;
  /* border: 2px solid red; */
}

.exel-table-header > :nth-child(3) {
  width: 250px;
  /* border: 2px solid red; */
}

.exel-table-header > :nth-child(4) {
  width: 130px;
  /* border: 2px solid red; */
}

.exel-table-header > :nth-child(5) {
  width: 130px;
  /* border: 2px solid red; */
}

.exel-table-header > :nth-child(6) {
  width: 350px;
  /* border: 2px solid red; */
}

.exel-table-header > :nth-child(7) {
  width: 160px;
  /* border: 2px solid red; */
}
.exel-table-header > :nth-child(8) {
  width: 220px;
  /* border: 2px solid red; */
}

.table__body__card_ex {
  width: 100%;
  /* border: 2px solid red; */
}
.exel-table-header > :nth-child(9) {
  width: 200px;
  /* border: 2px solid red; */
}

.exel-table-header > :nth-child(10) {
  width: 250px;
  /* border: 2px solid red; */
}

.exel-table-header > :nth-child(11) {
  width: 160px;
  /* border: 2px solid red; */
}

.table__inner__body_exel {
  display: flex;

  height: 35px;
  align-items: center;
  padding: 5px;
}

.table__inner__body_exel > :nth-child(1) {
  width: 200px;
  /* border: 2px solid red; */
}

.table__inner__body_exel > :nth-child(2) {
  width: 200px;
  /* border: 2px solid red; */
}

.table__inner__body_exel > :nth-child(3) {
  width: 250px;
  /* border: 2px solid red; */
}

.table__inner__body_exel > :nth-child(4) {
  width: 130px;
  /* border: 2px solid red; */
}

.table__inner__body_exel > :nth-child(5) {
  width: 130px;
  /* border: 2px solid red; */
}

.table__inner__body_exel > :nth-child(6) {
  width: 350px;
  /* border: 2px solid red; */
}

.table__inner__body_exel > :nth-child(7) {
  width: 160px;
  /* border: 2px solid red; */
}
.table__inner__body_exel > :nth-child(8) {
  width: 220px;
  /* border: 2px solid red; */
}

.table__inner__body_exel > :nth-child(9) {
  width: 200px;
  /* border: 2px solid red; */
}

.table__inner__body_exel > :nth-child(10) {
  width: 250px;
  /* border: 2px solid red; */
}

.table__inner__body_exel > :nth-child(11) {
  width: 160px;
  /* border: 2px solid red; */
}

/* button */

.exel-download-btn-card {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  /* border: 2px solid red; */
}

.exel-download-btn-card > button {
  height: 100%;
  width: 190px;
  background-color: orangered;
  border: none;
  outline: none;
  color: #fff;
  font-size: 18px;
}
