.download--user--pdfs-main--card {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  /* border: 2px solid red; */
}

.show--case--user--select--card {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .show--case--user--select--card {
    margin-top: 30px;
  }
  .show--case--user--select--card > select {
    width: 100%;
  }
  .show--case--user--select--card > button {
    width: 100%;
  }
}

.show--case--user--select--card > select {
  width: 35%;
  height: 40px;
  border: 2px solid lightslategray;
  font-size: 18px;
  border-radius: 8px;
}

.show--case--user--select--card > button {
  width: 170px;
  height: 40px;
  background-color: lightgray;
  color: #fff;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
}

.user--main--padfs--as--super-adamin {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 100%;
}
